.flex-container-header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
}

.flex-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
      height: auto;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}